<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   

    <div>
        <h2>Nouvel exercice</h2>
    </div>
   <div>

    <form action="">

        <div>
            <label for="pseudo">Pseudo</label>
            <input type="text" id="pseudo" required autofocus>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" required>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" id="email"required>
        </div>

        <div>
            <label for="date">Date</label>
            <input type="date" id="date" required>
        </div>

        <div>
            <label for="Vehicle">Véhicule</label>
           <select id="vehicle">
            <option value="moto">moto</option>
            <option value="avion">avion</option>
            <option value="helicoptere">hélicoptère </option>
           </select>

        </div>

        <div>

              <label for="desciption">Dites nous en plus sur vous</label>
              <textarea name="" id="description"></textarea>
        </div>

        <div>
               <span>Sexe</span>
              
               <input type="radio" value="Homme" id="man" name="agree">
               <label for="man">Homme</label>
               <input type="radio" value="Femme" id="woman" name="agree">
               <label for="woman">Femme</label>
               

        </div>

        <div>
               <span>Sport pratiqué</span>
               <input type="checkbox" value="Karaté" id="Karaté">
               <label for="">Karaté</label>
               <input type="checkbox" value="Tennis" id="Tennis">
               <label for="">Tennis</label>
              

        </div>

        <div>
            <label for="download">Télécharger</label>

        <input type="file"
       id="download"> 
    
        </div>

        <div>
               
            <input type="submit" value="Envoyer" >
            <input type="reset" value="Effacer">
         </div> 

        
    </form>

   </div>
    
</body>
</html>