<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/selector-pratice.css">
</head>
<body>
      <h1>Titre super important</h1>

      <h2 class="boulou">Titre important</h2>

      <h3>Titre moins important</h3>

      <h4 class="range">Titre pas trop important</h4>

      <h5>Titre pas important</h5>

      <h6>Titre vraiment pas trop important</h6>

      <hr>

      <h3 class="bleu">Les images</h3>

      <p>Je suis Bart Simpson</p>

      <h3 class="bleu">les images dynamiques</h3>

      <hr>

      <h3 class="rojo">Les liens</h3>

      <h4>es films préférés</h4>

      <ol>
        <li>ben hur</li>
        <li>monstre & co</li>
        <li class="tax"> taxi driver</li>
      </ol>

      <h4>mes sports préférés</h4>
      <ul class="range">
        <li>boxer</li>
        <li>escalade</li>
        <li class="nat">natation</li>
      </ul>

</body>
</html>